template(name="inventory")
  .app-header
    span.caption Trả Hàng
  .app-editor
    .row
      .col.col-auto(style="width: 250px")
        span.ilabel chọn phiếu bán hàng
        +iSelect(options=saleSelectOptions class="field")
      .col.col-auto(style="width: 400px")
        span.ilabel chọn hàng trả
        +iSelect(options=returnProductSelectOptions class="field")
      .col.col-auto(style="width: 100px")
        span.ilabel số lượng trả
        +iSpinEdit(options=qualityOptions)
      .col.col-auto(style="width:100px")
        button.btn.btn-default.addReturnDetail(type='submit') Thêm




  .app-content
    +iGrid(options=returnDetailOptions)
  .app-summary(style="height: 80px")
    .row
      .col.col-auto(style="width:150px")
        button.btn.btn-default.finishReturn(type='submit') Xác Nhận NV
      .col.col-auto(style="width:100px")
        button.btn.btn-default.editReturn(type='submit') Edit
      .col.col-auto(style="width:150px")
        button.btn.btn-default.submitReturn(type='submit') Xác Nhận QL
  .app-status
