template(name="customerPopover")
  #customerPopover.popover.fade(style='width: 300px')
    .arrow
    h3.popover-title THÊM MỚI KHÁCH HÀNG
    .popover-content.modalable
      .wrapper.bottom
        if error
          |#{error}
        input.form-control.name(type='text' placeholder='Tên')
        input.form-control.sex(type='text' placeholder='Giới Tính')
        input.form-control.phone(type='text' placeholder='Số Điện Thoại')
        input.form-control.address(type='text' placeholder='Địa Chỉ')
        input.form-control.email(type='text' placeholder='Email')
        input.form-control.companyName(type='text' placeholder='Tên Cty')

        div(align="right"):  a.btn.btn-danger.createCustomer Tạo mới
      ul.grid
        each customerList
          li
            | #{name}
            a.btn.btn-danger.removeCustomer xóa
