template(name="returns")
  #header
    .caption-row: .title Trả Hàng
    .editor-row
      .editor-wrapper(style="width: 250px")
        span.ilabel chọn phiếu bán hàng
        +iSelect(options=saleSelectOptions class="field")
      .editor-wrapper(style="width: 400px")
        span.ilabel chọn hàng trả
        +iSelect(options=returnProductSelectOptions class="field")
      .editor-wrapper(style="width: 100px")
        span.ilabel số lượng trả
        +iSpinEdit(options=returnQualityOptions)
      .editor-wrapper(style="width:150px; {{hideAddReturnDetail}}")
        button.btn.btn-default.addReturnDetail(type='submit') THÊM

  #content
    +iGrid(options=returnDetailOptions)

  #footer
    .editor-row
      .editor-wrapper.right(style="width:100px; {{hideSubmitReturn}}")
        button.btn.btn-default.submitReturn(type='submit') ĐÃ DUYỆT

      .editor-wrapper.right(style="width:110px; {{hideEditReturn}}")
        button.btn.btn-default.editReturn(type='submit') CHỈNH SỬA

      .editor-wrapper.right(style="width:190px; {{hideFinishReturn}}")
        button.btn.btn-default.finishReturn(type='submit') XÁC NHẬN, CHỜ DUYỆT

      .editor-wrapper.right(style="width: 300px")
        span.ilabel ghi chú
        input.comment(value="{{saleReturn.comment}}" )

      .editor-wrapper.right(style="width: 100px")
        span.ilabel tỗng tiền
        input.totalPrice(value="{{saleReturn.totalPrice}}" disabled)

      .editor-wrapper.right(style="width: 150px")
        span.ilabel người tạo
        input.totalPrice(value="{{saleReturn.creatorName}}" disabled)
