body.dark {
  background-color: #464646;
  nav.main {
    background-color: #2E2E2E;
    border-bottom-color: transparent;
    li {
      border-color: #404040;
      &.collapse-toggle:before { background-color: #2E2E2E; }

      &.home {
        a { background-color: transparent; color: #fff; }
      }

      a { color: #ddd; }
      a:hover {
        color: #fff;
        background-color: #2E2E2E !important;
      }
    }
  }

  .watermark { color: #4B4B4B; }
}

.metro {
  .clearfix;
  margin: auto;
  padding: 10px 0 5px 5px;
  overflow: hidden;

  .metro-wrapper {
    margin-left: 50%;
    transform: translate(-50%, 0);
    width: 960px;
  }
}