body.dark {
  background-color: #464646;
  .branding, #left-side {
    border-right: 1px solid #333;
  }
}

.metro {
  .clearfix;
  margin: auto;
  padding: 10px 0 5px 5px;
  overflow: hidden;

  .metro-wrapper {
    margin-left: 50%;
    transform: translate(-50%, 0);
    width: 960px;
  }
}