template(name="billExport")
  #header
    .caption: .title ĐƠN HÀNG
    .editor-row
      .editor-wrapper(style="width: 100px")
        span.ilabel.right xem từ ngày
        input(name="fromDate" binding="datePicker" todayHighlight="true" maxlength="20")
      .editor-wrapper(style="width: 100px")
        span.ilabel đến ngày
        input(name="toDate" binding="datePicker" todayHighlight="true" maxlength="20")
      .editor-wrapper
        button.btn.btn-success#filterBills ÁP DỤNG

  #content
    +iGrid(options=billDetailOptions)