template(name="billExportThumbnail")
  .col
    .thumbnails
      .right-caption {{buyerName}} <br /> {{sellerName}}
      .full-desc.price
        button.btn.btn-default.creatSaleExport(style="{{showInput}}") {{showInputText}}