template(name="metroHome")
	.metro
		.tile-group-1
			.tile.lime.app-navigator(data-app="roleManager")
				span.center.middle.caption: span.table: i.fa.fa-eye-slash.fa-3x
				span.bottom.middle.caption PHÂN QUYỀN
			.tile.pumpkin
			.tile.amethyst
			.tile.blue
		.tile-group-3
			.tile.quatro.lime
				span.top.right.caption BÁN HÀNG
				span.center.middle.caption: span.table: i.fa.fa-tags.fa-5x
				span.bottom.left.caption: h3 1024 <tiny5>SẢN PHẨM ĐÃ BÁN</tiny5>
			.tile.pumpkin
			.tile.amethyst
			.tile.double
			.tile
		.tile-group-3
			.tile.lime
			.tile.pumpkin.double.double-vertical
			.tile.quadro.amethyst
			.tile.selected
			.tile.double-vertical