template(name="staffPopover")
  #staffPopover.popover.fade(style='width: 300px')
    .arrow
    h3.popover-title THÊM MỚI NHÂN VIÊN
    .popover-content.modalable
      .wrapper.bottom
        if error
          |#{error}
        input.form-control.username(type='text' placeholder='Nhập Tên Đăng Nhập')
        input.form-control.email(type='text' placeholder='Nhập Email Đăng Nhập')
        input.form-control.password(type='text' placeholder='Nhập Mật Khẩu')

          div(align="right"):  a.btn.btn-danger.createStaff Tạo mới
      ul.grid
        each providers
          li
            | #{name}
            a.btn.btn-danger.removeStaff xóa
