template(name="delivery")
  .app-header
    span.caption Trả Hàng
  .app-editor
    .row
      .col.col-auto(style="width: 200px")
        span.ilabel chi nhánh
        +iSelect(options=merchantSelectOptions class="field")
      .col.col-auto(style="width: 200px")
        span.ilabel kho
        +iSelect(options=warehouseSelectOptions class="field")
      .col.col-auto(style="width: 250px")
        span.ilabel bộ lọc
        +iSelect(options=filterDeliverySelectOption class="field")
  .app-content
    +iGrid(options=deliveryDetailOptions)
  .app-summary
  .app-status


