template(name="delivery")
  .app-header
    span.caption Trả Hàng
  .app-editor
    .row
      .col.col-auto(style="width: 200px")
        span.ilabel chi nhánh
        +iSelect(options=merchantSelectOptions class="field")
      .col.col-auto(style="width: 200px")
        span.ilabel kho
        +iSelect(options=merchantSelectOptions class="field")
      .col.col-auto(style="width: 120px")
        span.ilabel bộ lọc
        +iSelect(options=filterDeliverySelectOption class="field")

  .app-content
  .app-summary
  .app-status

template(name="removeItem")
    button.btn.btn-default.checkingDelivery(type='submit') Nhan
    button.btn.btn-default.trueDelivery(type='submit') ThanhCong
    button.btn.btn-default.falesDelivery(type='submit') ThatBai
    button.btn.btn-default.resetDelivery(type='submit') reset
