template(name="notificationDetails")
  .dropdown-menu(role="menu")
    .header-caption NHẮC NHỞ CHUNG
    ul.details
      each notifications
        li
          .avatar(style="background-image: url('images/avatars/avatar.jpg')")
          .content {{message}}