template(name="requestDetails")
  .dropdown-menu(role="menu")
    .header-caption PHÊ DUYỆT
    ul.details
      each requests
        li
          .avatar(style="background-image: url('images/avatars/avatar.jpg')")
          .content {{message}}