template(name="warehouse")
	.app-header
		span.caption Warehouse <small>Page</small>
		.commands
			a#poptest.btn.btn-danger(href="") Thêm Sản Phẩm
			a#popProvider.btn.btn-danger(href="") Thêm Nhà Cung Cấp
			a.btn.btn-danger.poptest2(href="#") Poptest 2
	.app-editor
		.sl2.field(style="width: 250px;")
	.app-body
		.metro.clearfix
			.tiles
				.tile
				.tile.double.double-vertical
				.tile.double
				.tile.selected
				.tile.triple.double-vertical

	+productAside
	+productPopover
	+providerPopover

template(name="productSearch")
	h4 #{name} (#{productCode})

template(name="productAside")
	#productAside.aside.modal.swipe.right
		.modal-dialog
			.modal-content
				.modal-header
					button.close(type="button" data-dismiss="modal")
						span(aria-hidden="true") &times;
						span.sr-only Close
					h4.modal-title Modal title
				.modal-body: p One find body &hellip;
				.modal-footer
					button.btn.btn-default(type="button" data-dismiss="modal") Close
					button.btn.btn-primary(type="button") Save changes