template(name="inventoryHistory")
  #header
    .caption-row: .title Chi Tiết Kiểm Kho
    .editor-row
      .editor-wrapper(style="width: 200px")
        span.ilabel chi nhánh
        +iSelect(options=merchantSelectOptions class="field")
      .editor-wrapper(style="width: 200px")
        span.ilabel kho
        +iSelect(options=warehouseSelectOptions class="field")
      .editor-wrapper(style="width: 200px")
        span.ilabel phiếu kiểm kho
        +iSelect(options=inventoryDetailSelectOptions class="field")

  #content
    +iGrid(options=inventoryDetailOptions)