template(name="tracker")
  #header
    .caption-row: .title NHẬT KÝ HỆ THỐNG
    .editor-row
      .editor-wrapper(style="width: 100px")
        span.ilabel.right xem từ ngày
        input(name="fromDate" binding="datePicker" todayHighlight="true" maxlength="20")
      .editor-wrapper(style="width: 100px")
        span.ilabel đến ngày
        input(name="toDate" binding="datePicker" todayHighlight="true" maxlength="20")
      .editor-wrapper
        button.btn.btn-success#filterLogs ÁP DỤNG

  #content CHỨC NĂNG ĐANG ĐƯỢC XÂY DỰNG, QUAY LẠI SAU!
