template(name="billThumbnail")
  .col
    .thumbnails
      .right-caption {{buyerName}} <br /> {{sellerName}}
      .full-desc.price {{formatNumber finalPrice}} VNĐ
      if isntDelete
        .full-desc.trash: a(href="#"): i.fa.fa-trash-o