template(name="billThumbnail")
  .col
    .thumbnails
      .right-caption {{buyerName}} <br /> {{sellerName}}
      .full-desc.price {{formatNumber finalPrice}} VNÄ
      .full-desc.trash: a(href="#"): i.fa.fa-trash-o