template(name="billManager")
  #header
    .caption-row: .title ĐƠN HÀNG
    .editor-row
      .editor-wrapper(style="width: 100px")
        span.ilabel.right xem từ ngày
        input(name="fromDate" binding="datePicker" todayHighlight="true" maxlength="20")
      .editor-wrapper(style="width: 100px")
        span.ilabel đến ngày
        input(name="toDate" binding="datePicker" todayHighlight="true" maxlength="20")
      .editor-wrapper
        button.btn.btn-success#filterBills ÁP DỤNG
      .editor-wrapper.pull-right(style="width: 150px")
        span.ilabel chọn kho
        +iSelect(options=warehouseSelectOptions class="field")

  #content
    +iGrid(options=billDetailOptions)