#homeFooter {
  color: #666;
  background-color: #fff;
  font-size: 13px;
  .footer-content {
    min-height: 200px;

    .details {
      margin-left: 35px;
    }
  }

  .sub-footer.row {
    font-size: 12px;
  }
}