template(name="home")
  .content
    .content-heading: a asdkjad
    .content-sub-heading: a sub heading
    .content-body
      button.lime.ibtn.ibtn-labeled
        span.ibtn-label.left: i.fa.fa-pencil
        | button
      br
      br
      button.lime.ibtn.d3.btn-labeled
        span.btn-label.left: i.fa.fa-pencil
        | 3d button
      br

    +iCooldown(options=cooldownOptions)

    .content-footer footer
    each avatarImages
      |image:
      img(src="{{url}}")

    input#fileUpload(type="file")