template(name="merchantTestimonials")
  span {{currentComment.ownerName}}
  span {{currentComment.ownerPosition}}
  span {{currentComment.ownerAvatar}}
  span {{currentComment.comment}}
  .btn.nextCommand >>>