template(name="providerPopover")
  #providerPopover.popover.fade(style='width: 300px')
    .arrow
    h3.popover-title THÊM MỚI NHÀ PHÂN PHỐI
    .popover-content.modalable
      .wrapper.bottom
        if error
          |#{error}
        input.form-control.name(           type='text' placeholder='Tên Công Ty')
        input.form-control.phone(          type='text' placeholder='Số Điện Thoại')
        input.form-control.representative( type='text' placeholder='Tên Người Đại Diện')
        input.form-control.address(        type='text' placeholder='Địa Chỉ')

        div(align="right"):  a.btn.btn-danger.createProvider Tạo mới
      ul.grid
        each providerList
          li
            | #{name}
            a.btn.btn-danger.removeProvider xóa
