input[type="text"]:focus { outline: none !important; }
* { font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif, Arial; }
a:hover { text-decoration: none !important; }
a { cursor: pointer; }
.no-margin { margin: 0 !important; }
.nav > li > a:hover { background-color: transparent !important; }
