template(name="stockManager")
  #header
    .caption-row: .title XEM TỒN KHO <small>QUẢN LÝ GIÁ BÁN</small>

  //.editor-row
  //  .editor-wrapper(style="width: 200px")
  //    span.ilabel tên đăng nhập
  //    input(name="email")

  #content
    +iGrid(options=stockDetailOptions)