template(name="stockThumbnail")
  .col
    .thumbnails(class="#{colorClass}")
      .right-caption {{name}}
      .avatar(style="background-image: url('images/missing.jpg')")
      .short-desc.quality.small {{availableQuality}}/{{inStockQuality}}
      .full-desc.price {{formatNumber price}} <small>VNĐ</small>
      .discount
        if false
          span.s4 -{{round discountPercent}}<span class="h5">%</span>
      .single-price TỔNG NHẬP {{totalQuality}}
      if canDelete
        .full-desc.trash: a(href="#"): i.fa.fa-trash-o