@application-max-width: 1280px;
@application-min-width: 1160px;
@left-pane-size: 280px;
@left-pane-collapse-size: 50px;
@left-pane-background: #000;
@left-pane-font: #dedede;
@left-pane-font-light: lighten(@left-pane-font, 10);
@caption-background: #171615;

.application, nav.main { min-width: @application-min-width; }
.wrapper {
//  .clearfix;
//  max-width: @application-max-width; margin: auto;
  &.content { padding-top: 50px; }
}