#right-side {
  .clearfix;
  margin-left: @left-pane-size;
  padding-top: @nav-bottom-border-size;

  .animation-duration(1s);
  .content {
    .content-heading {
      background-color: #fff;
      a { line-height: 50px; }
    }

    .content-sub-heading {
      background-color: #F3F3F3;
      border-bottom: solid 1px #E9E9E9;
      a { line-height: 50px; }
    }

    .content-body {

    }

    .content-footer {

    }
  }
}

#container {
  width: 100%;
  height: 100%;
  padding: 43px 0 0 60px;

  #header {
    background-color: red;
  }

  #content {
    height: 100%;
    background-color: green;
    overflow-y: scroll;
  }

  #footer {
    background-color: blue
  }
}