header {
  nav.main {
//    margin-left: @left-pane-size;
//      box-shadow: 0 0 4px 0 rgba(0,0,0,0.6);
      background-color: #2E2C2B;
      padding-right: 50px;
      border: none;
      z-index: 999;

    .branding {
      width: @left-pane-size;
      background-color: #000;
      position: relative;
      float: left;
      height: 50px;

      .navbar-form {
        margin-top: 11px;
        input[type="text"] {
          width: 235px;
          height: 25px;
          .placeholder(#dedede);
          .border-radius(0);
        }
      }

      .collapse-toggle {
        position: absolute;
        right: 0;
        font-size: 18px;
        color: @left-pane-font;
        padding: 12px 14px;
        &:hover { color: @left-pane-font-light; }
      }
    }

    .navbar-header {
      width: @left-pane-size;
    }

    li {
      &.home {
        margin-left: 6px;
        a { font-size: 40px; padding: 5px 10px 5px 10px; }
      }

      &.iconic {
        a {
          padding: 22px 10px 0px 10px;

          i {
            color: #888;
            &.notifying { color: #fff; }
          }

          span.count {
            position: absolute;
            top: -13px;
            left: 5px;
            font-size: 10px;
            background-color: #87C735;
            padding: 10px 2px 0 2px;
            border-radius: 9px;
            width: 21px;
            text-align: center;
          }

          &:hover {
            background-color: transparent !important;
            i { color: #ddd; }
            span { color: #fff; }
          }
        }
      }

      a { color: #fff; }
      a:hover {
        background-color: #333 !important;
        color: #ddd;
      }

      &.active a {
        color: #333;
        background-color: #fff;
        &:hover { background-color: #fff !important; }
      }
    }
  }

  ul.iconic {
    margin-left: 6px;
  }

  nav.secondary {
    margin-left: @left-pane-size;
    margin-top: 51px;
    background-color: #149FBE;
    z-index: 998;
  }
}