#left-side {
  position: fixed;
  width: @left-pane-size;
  min-height: 100%;
  background-color: @left-pane-background;
  z-index: 9999;

  .sidebar-dump-dash {
    height: 7px;
    border-bottom: solid 1px #1a1a1a;
  }

  ul.sidebar-nav {
    .clearfix;
    list-style: none;
    margin: 0; padding: 0;
    a > i { color: #4D4748; }

    li {
      float: left;
      margin-bottom: -1px;
      a {
        line-height: 51px;
        padding: 0 27px;
        i { font-size: 16px; }
      }

      &.active {
        background-color: @caption-background;
        border-left: solid 1px #1D1D1D;
        border-right: solid 1px #1D1D1D;
        a > i { color: #fff; }
      }
    }
  }
  .sidebar-caption {
    .text-overflow;
    height: 50px;
    background-color: @caption-background;
    border-top: solid 1px #2C2C2C;
    border-bottom: solid 1px #070707;
    color: #fff;
    font-size: 20px; font-weight: 300;
    text-transform: uppercase;
    line-height: 50px;
    padding: 0 10px;
    text-align: center;
  }
  .user-info {

  }

  #messenger {
    position: absolute;
    right: -250px;
    width: 250px;
    background-color: #f4f4f4;
    border: solid 1px #ddd;
    top: 2px/Sky6;
    z-index: 1;

    .header {
      margin: -1px;
      color: #fff;
      background-color: @lime;
      height: 25px;
      .text-overflow;

      .close-btn {
        float: right;
        margin-right: 3px;
        color: #fff;
      }
    }

    ul.messages {
      height: 245px;
      margin: 0; padding: 0 5px;
      padding-bottom: 30px;

      li {
        list-style: none;
        width: 100%;
        padding: 5px 0;

        span {
          border: solid 1px #dedede;
          .border-radius(3px);
          padding: 0 3px;
        }

        &.friend-message {

        }

        &.my-message {
          text-align: right;
        }
      }
    }

    input {
      width: 100%;
      border: none;
      border-top: solid 1px #DDDDDD;
      background: #FFFFFF;
      font-size: 12px;
      height: 28px;
      line-height: 28px;
    }
  }

  ul.messenger-list {
    padding: 0; margin: 0;
    color: #fff;
    .chat-avatar {
      list-style: none;
      position: relative;

      .online-status-orb {
        width: 8px; height: 8px;
        .border-radius(50%);
        position: absolute;
        top: 5px; left: 5px;
        background-color: gray;
        &.online {
          background-color: @lime;
        }
      }

      a {
        img, span {
          width: 60px;
          height: 40px;
          background-color: #575757;
        }

        span {
          display: block;
          text-align: center;
          line-height: 40px;
          color: #fff;
          font-size: 20px;
          font-weight: bold;
        }

        &.me {
          img, span {
            line-height: 60px;
            height: 60px;
          }
        }
      }

      &:nth-child(even) {
        a > img, a > span { background-color: #9c9c9c; }
      }
    }
  }

  .sidebar-handle {
    .collapse-transition;
    display: block;
    position: absolute;
    width: 20px;
    height: 45px;
    bottom: 200px;
    background-color: @left-pane-background;
    .border-right-radius(3px);
    z-index: 2;

    i {
      color: #fff;
      line-height: 45px;
      margin-left: 5px;
    }

    &.left  {
      right: -5px;
      //    background: url("images/left-handle.png") no-repeat;
    }
    &.right {
      left: -5px;
      //    background: url("images/right-handle.png") no-repeat;
    }
  }
}