#sidebar { margin-top: 40px; }
#sidebar {
  .collapse-transition;
  position: fixed;
  width: @left-pane-size;
  min-height: 100%;
  background-color: @left-pane-background;
  z-index: 9999;
  padding-top: @nav-bottom-border-size;
  right: 0;
  border-left: 5px solid #1A1A1A;

  .sidebar-dump-dash {
    height: 7px;
    border-bottom: solid 1px #1a1a1a;
  }

  ul.sidebar-nav {
    .clearfix;
    list-style: none;
    margin: 0; padding: 0;
    a > i { color: #4D4748; }

    li {
      float: left;
      margin-bottom: -1px;
      a {
        line-height: 51px;
        padding: 0 27px;
        i { font-size: 16px; }
      }

      &.active {
        background-color: @caption-background;
        border-left: solid 1px #1D1D1D;
        border-right: solid 1px #1D1D1D;
        a > i { color: #fff; }
      }
    }
  }
  .sidebar-caption {
    .text-overflow;
    height: 50px;
    background-color: @caption-background;
    border-top: solid 1px #2C2C2C;
    border-bottom: solid 1px #070707;
    color: #fff;
    font-size: 20px; font-weight: 300;
    text-transform: uppercase;
    line-height: 50px;
    padding: 0 10px;
    text-align: center;
  }
  .user-info {

  }

  ul.messenger-list {
    padding: 0; margin: 0;
    color: #fff;

    .chat-avatar {
      .user-select(none);
      list-style: none;
      position: relative;
      cursor: pointer;
      &.me { input[type="file"] { display: none; } }

      &:after {
        font-family: 'sky';
        content: '\E848';
        position: absolute;
        font-size: 10px;
        color: #999999;
        bottom: -7px; left: 26px;
      }

      .online-status-orb {
        width: 10px; height: 10px;
        top: 6px; right: 6px;
        .border-radius(50%);
        position: absolute;
        background-color: gray;
        &.online { background-color: @lime; }
        &.idle { background-color: @carrot; }
      }

      .has-message-status {
        position: absolute;
        top: 7px; right: 5px;
        line-height: 5px;
        visibility: hidden;
        font-size: 8px;
        &.active {
          visibility: visible;
        }
      }

      .alias {
        .transition(left 0.15s ease);
        position: absolute;
        top: 37px; left: 36px;
        width: 54px;
        font-size: 9px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-transform: capitalize;
        .rotate(90deg);
        color: #5C5C5C;
        padding: 0 2px;
        pointer-events: none;
      }

      img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        padding: 5px;
      }

      &.me {
        img { width: 78px; height: 78px; }
      }

      span {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        padding: 5px;
      }

      span {
        display: block;
        text-align: center;
        line-height: 60px;
        color: #fff;
        font-size: 14px;
        font-weight: bolder;
        text-transform: uppercase;
      }
    }
  }
}