template(name="layout")
  +messenger
  +watermark
  .application(class="#{collapse}")
    +navigation
    +sidebar
    #container
      +yield

  //+messenger
  //.application(class="#{collapse}")
  //  header
  //    +navigation
  //  if currentUser
  //    #content-wrapper
  //      #left-side
  //        +sidebar
  //      #right-side
  //        +yield
  //  else
  //    .wrapper
  //      .left-side: +yield

template(name="watermark")
  .watermark THIÊN BAN<br />TECH