template(name="layout")
	.application(class="#{collapse}")
		header
			+navigation
		if currentUser
			.content.wrapper.metro
				#left-side
					+sidebar
				#right-side
					+yield
		else
			.wrapper
				.left-side: +yield