template(name="homeHeader")
  .home-wrapper
    .header-content
      .home-branding
        .logo-text
          .caption eds
          .slogan this is our slogan
        .logo-image
          img(src="images/favicon.png")
        .languages ngôn ngữ
        .search search
        .social social
        .phone
          i.fa.fa-mobile-phone
          |+84 838-<b>111</b>-766

      ul.home-navigation
        li
          span.main-caption main caption
          span.sub-caption sub caption
          i.icon.fa.fa-globe
        li
          span.main-caption main caption
          span.sub-caption sub caption
          i.icon.fa.fa-newspaper-o
        li
          span.main-caption main caption
          span.sub-caption sub caption
          i.icon.fa.fa-camera-retro
        li
          span.main-caption main caption
          span.sub-caption sub caption
          i.icon.fa.fa-flask
        li
          span.main-caption main caption
          span.sub-caption sub caption
          i.icon.fa.fa-tag
        li
          span.main-caption main caption
          span.sub-caption sub caption
          i.icon.fa.fa-microphone
