template(name="homeHeader")
  .home-wrapper
    .header-content
      .home-branding
        .logo-text
          .caption eds
          .slogan hệ thống chiến lược đồng bộ
        .logo-image
          img(src="images/gera-small.png")
        .languages Tiếng Việt
        .search search
        .social
          a.icon-facebook-rect
          a.icon-twitter-bird
          a.icon-googleplus-rect
          a.icon-linkedin-rect
        .phone
          i.icon-mobile
          |+84 838-<b>111</b>-766

      ul.home-navigation
        li
          span.menu-item.icon-globe
            span.main-caption main caption
            span.sub-caption sub caption
        li
          span.menu-item.icon-doc
            span.main-caption main caption
            span.sub-caption sub caption
        li
          span.menu-item.icon-camera
            span.main-caption main caption
            span.sub-caption sub caption
        li
          span.menu-item.icon-beaker
            span.main-caption main caption
            span.sub-caption sub caption
        li
          span.menu-item.icon-wallet
            span.main-caption main caption
            span.sub-caption sub caption
        li
          span.menu-item.icon-pencil
            span.main-caption main caption
            span.sub-caption sub caption
