template(name="homeNavigation")
  ul.home-navigation
    li
      span.menu-item.icon-globe
        span.main-caption Hỗ trợ
        span.sub-caption Câu hỏi thường gặp
    li
      span.menu-item.icon-doc
        span.main-caption Tin tức
        span.sub-caption Cập nhật mới nhất
    li
      span.menu-item.icon-camera
        span.main-caption Khách hàng
        span.sub-caption Bình luận
    li
      span.menu-item.icon-beaker
        span.main-caption Tính năng
        span.sub-caption Hệ thống EDS
    li
      span.menu-item.icon-wallet
        span.main-caption Bảng giá
        span.sub-caption Gói sản phẩm
    li
      span.menu-item.icon-pencil
        span.main-caption Liên hệ
        span.sub-caption Tuyển dụng
