template(name="homeNavigation")
  ul.home-navigation
    li
      span.menu-item.icon-doc
        span.main-caption Cập nhật
        span.sub-caption Tin tức mới nhất
    li
      span.menu-item.icon-graduation-cap
        span.main-caption Hỗ trợ
        span.sub-caption Câu hỏi thường gặp
    li
      span.menu-item.icon-thumbs-up
        span.main-caption Khách hàng
        span.sub-caption Ý kiến đánh giá
    li
      span.menu-item.icon-beaker
        span.main-caption Tính năng
        span.sub-caption Hệ thống EDS
    li
      span.menu-item.icon-wallet
        span.main-caption Bảng giá
        span.sub-caption Gói sản phẩm
    li
      span.menu-item.icon-location
        span.main-caption Liên hệ
        span.sub-caption Tuyển dụng
