template(name="merchantPriceTableExtension")
  li.icon-group
    +iSpinEdit(options=accountLimitOptions) Tài khoản
  li.icon-location-1
    +iSpinEdit(options=branchLimitOptions) Chi nhánh
  li.icon-home-4
    +iSpinEdit(options=warehouseLimitOptions) Kho hàng