template(name="merchantPriceTable")
  .package-block(class="{{options.packageClass}}")
    .title {{options.title}}
    .content
      p.price
        sup VNĐ
        span {{options.price}}
        sub /{{options.duration}}.
      p.hint {{options.hint}}
    .features
      li.icon-group {{options.accountLim}} Tài khoản
      li.icon-location-1 {{options.branchLim}} Chi nhánh
      li.icon-home-4 {{options.warehouseLim}} Kho hàng
      if showExtension
        +merchantPriceTableExtension
    .footer
      span {{options.footer}}
