template(name="merchantPriceTable")
  .package-block(class="{{options.packageClass}}")
    .title {{options.title}}
    .content
      p.price
        sup VNĐ
        span {{options.titlePrice}}
        sub /{{options.titleDuration}}.
      p.hint {{options.hint}}
    .features
      li.icon-group {{options.accountLim}} Tài khoản
      li.icon-location-1 {{options.branchLim}} Chi nhánh
      li.icon-home-4 {{options.warehouseLim}} Kho hàng
      if showExtension
        li.icon-group
          +iSpinEdit(options=accountLimitOptions) Tài khoản/{{options.extendAccountPrice}} vnd
        li.icon-location-1
          +iSpinEdit(options=branchLimitOptions) Chi nhánh/{{options.extendBranchPrice}} vnd
        li.icon-home-4
          +iSpinEdit(options=warehouseLimitOptions) Kho hàng/{{options.extendWarehousePrice}} vnd
        //+merchantPriceTableExtension
    .footer
      if showExtension
        span {{extendPrice}}
      span {{options.footer}}
