template(name="merchantPriceTable")
  .price-table-group
    .package-block
      .title
      .content
        p.price
        p.hint
      .features
        li f1
        li f2
        li f3
        li f4
      .footer
        p footer