template(name="warehouseManager")
  .app-header
    span.caption QUẢN LÝ KHO HÀNG

  .app-editor
    .row
      .col.col-auto(style="width:150px")
        span.ilabel.optional chi nhánh
        +iSelect(options=merchantSelectOptions class="field")
      .col.col-auto
        span.ilabel tên kho
        input(name="name" maxlength="40")
      .col.col-auto(style="width: 300px")
        span.ilabel.optional địa chỉ
        input(name="address")
      .col.col-auto
        button.btn#createWarehouse(class="{{allowCreate}}") TẠO MỚI

  .app-content
    +iGrid(options=warehouseDetailOptions)