template(name="warehouseManager")
  #header
    .caption-row
      .title QUẢN LÝ KHO HÀNG

    .editor-row
      .editor-wrapper(style="width:150px")
        span.ilabel.optional chi nhánh
        +iSelect(options=merchantSelectOptions class="field")
      .editor-wrapper
        span.ilabel tên kho
        input(name="name" maxlength="40")
      .editor-wrapper(style="width: 300px")
        span.ilabel.optional địa chỉ
        input(name="address")
      .editor-wrapper
        button.btn#createWarehouse(class="{{allowCreate}}") TẠO MỚI

  #content
    +iGrid(options=warehouseDetailOptions)