template(name="warehouseThumbnail")
  .col
    .thumbnails
      .right-caption {{name}}
      .avatar(style="background-image: url('images/missing.jpg')")
      if isntDelete
        .full-desc.trash: a(href="#"): i.fa.fa-trash-o