.app-header {
  padding: 11px 0 9px 30px;
  border-bottom: 1px solid #eeeeee;
  .caption {
    font-family: inherit;
    font-size: 36px;
    font-weight: 500;
    line-height: 1.1;
    text-transform: uppercase;

    small {
      font-size: 65%;
      font-weight: normal;
      line-height: 1;
      color: #777777;
    }
  }

  .commands {
    float: right;
    margin-right: 10px;
  }
}

.app-editor {
  background-color: #f1f1f1;
  min-height: 40px;
  border-bottom: 1px solid #eeeeee;
  .field {
    margin: 5px 0;
    width: 100%;
  }

  .row {
    margin-left: 0;
    margin-right: 0;
    .col {
      padding-left: 5px;
      padding-right: 0;
    }
  }

  input {
    width: 100%;
    line-height: 28px;
    margin: 5px 0;
    padding: 0 7px;
    border: 1px solid #DFDFDF;
    .border-radius(3px);
  }

  .bootstrap-touchspin {
    .input-group-addon, .bootstrap-touchspin-up, .bootstrap-touchspin-down {
      margin-top: 5px;
      padding: 4px 10px;
    }
    input {
      height: 30px;
      text-align: center;
    }
  }
}

.app-content {

}

.app-status {
  width: 100%;
  position: fixed;
  bottom: 0;
}

.sidebar-handle {
  display: block;
  position: absolute;
  width: 20px;
  height: 45px;
  margin-top: 7px;
  background-color: #000;
  .border-radius(3px);

  &.left  {
    right: -16px;
    background: url("images/left-handle.png") no-repeat;
  }
  &.right {
    left: -16px;
    background: url("images/right-handle.png") no-repeat;
  }
}

.dark-line {
  height: 1px;
  width: 100%;
  background-color: #1a1a1a;
  float: left;
}