.app-header {
  padding: 11px 0 9px 30px;
  border-bottom: 1px solid #eeeeee;
  .caption {
    font-family: inherit;
    font-size: 36px;
    font-weight: 500;
    line-height: 1.1;
    text-transform: uppercase;

    small {
      font-size: 65%;
      font-weight: normal;
      line-height: 1;
      color: #777777;
    }
  }

  .commands {
    float: right;
    margin-right: 10px;
  }
}

.app-editor {
  background-color: #f1f1f1;
  min-height: 40px;
  border-bottom: 1px solid #eeeeee;
}

.app-summary {
  position: fixed;
  width: 100%;
  background-color: #fff;
  border-top: 1px solid #DFDFDF;
}

.app-editor, .app-summary {
  .field {
    margin: 5px 0;
    width: 100%;
  }

  .row {
    margin-left: 0;
    margin-right: 0;

    .col {
      padding-left: 5px;
      padding-right: 0;
    }

    .col-auto {
      float: left;
      position: relative;
    }
  }

  input {
    width: 100%;
    line-height: 28px;
    margin: 5px 0;
    padding: 0 7px;
    border: 1px solid #DFDFDF;
    .border-radius(3px);
    outline: none;
    &:disabled {
      background-color: #fff;
    }
  }

  .bootstrap-touchspin {
    .input-group-addon, .bootstrap-touchspin-up, .bootstrap-touchspin-down {
      margin-top: 5px;
      padding: 4px 10px;
      border-color: #DFDFDF;
    }

    .bootstrap-touchspin-up {
      border-color: #DFDFDF;
    }

    .bootstrap-touchspin-down {
      border-right-color: transparent;
    }

    input {
      height: 30px;
      text-align: center;
    }
  }

  .input-group {
    input {
      float: left;
      &:first-child {
        .border-right-radius(0);
      }
      &:last-child {
        .border-left-radius(0);
        border-left: none;
      }
    }
    .input-group-btn:not(:first-child):not(:last-child) {
      .bootstrap-touchspin-up {
        margin-left: -1px;
        border-left-color: transparent;

        .border-radius(0)
      }

      .bootstrap-touchspin-down {
        margin-right: -1px;
        border-right-color: transparent;
        .border-radius(0)
      }
    }
  }

  .ilabel {
    position: absolute;
    z-index: 10;
    line-height: 10px;
    font-size: 10px;
    text-align: center;
    background-color: @orange;
    color: #fff;
    left: 15px;
    top: -4px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
//    border: solid 1px #dfdfdf;
//    border-bottom: none;
    padding: 0 4px;

    &.center {
      left: 50%;
      transform: translate(-50%, 0);
    }
    &.right {
      left: auto;
      right: 15px;
    }
  }

  .btn {
    margin: 5px 0;
    padding: 4px 12px;
    border-radius: 3px;
  }
}

.app-content {
  .detail-grid {
    margin: 5px 3px;
    .col {
      padding: 0 2px;
    }
    .tile {
      .border-radius(2px);
      padding: 5px;

      .title {
        font-size: 22px;
        .text-overflow;
      }

      .details {

      }

      .summary {
        position: absolute;
        bottom: 5px;
        font-size: 20px;
        &.left  { left: 10px; margin: 0 }
        &.right { right: 10px; }
      }
    }
  }
}

.app-status {
  width: 100%;
  position: fixed;
  bottom: 0;
}

.sidebar-handle {
  display: block;
  position: absolute;
  width: 20px;
  height: 45px;
  margin-top: 7px;
  background-color: #000;
  .border-radius(3px);

  &.left  {
    right: -16px;
    background: url("images/left-handle.png") no-repeat;
  }
  &.right {
    left: -16px;
    background: url("images/right-handle.png") no-repeat;
  }
}

.dark-line {
  height: 1px;
  width: 100%;
  background-color: #1a1a1a;
  float: left;
}