.thumbnails-headers {
  &.text-title {
    .right-caption, .left-caption {
      font-size: 12px;
      line-height: 20px;
      .large-size {
        font-size: 26px;
      }
    }
  }
}

.thumbnails {
  width: 100%;
  height: 100px;
  background-color: @lime;
  float: left;
  color: #fff;
  margin-bottom: 4px;
//  &:hover { outline: rgba(0, 0, 0, 0.1) solid 2px; }
  position: relative;
//  .border-radius(2px);
  overflow: hidden;

  .right-caption {
    position: absolute;
    top: 2px; right: 5px;
    max-width: 65%;
    .text-overflow;
  }

  .left-caption {
    position: absolute;
    top: 2px; left: 5px;
    max-width: 65%;
    .text-overflow;
  }


  .avatar {
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: absolute;
    height: 120px;
    width: 80px;
  }

  .short-desc {
    .text-overflow;
    position: absolute;
    right: 5px;
    top: 20px;
    &.quality {
      font-size: 40px;
      line-height: 40px;
      font-weight: lighter;
    }
  }

  .discount {
    position: absolute;
    bottom: 15px;
    right: 20px;
    font-size: 16px;
  }

  .single-price {
    position: absolute;
    bottom: 23px;
    right: 5px;
    font-size: 12px;
    font-weight: lighter;
  }

  .full-desc {
    .text-overflow;
    position: absolute;
    left: 5px;
    bottom: 0;
    font-size: 20px;
    &.right {
      left: auto; right: 5px;
    }
    &.price {
      right: 0; left: auto;
      padding: 0 5px;
      font-weight: lighter;
    }
    &.trash {
      left: 80px; bottom: 0;
      z-index: 10;
      a {
        color: #fff;
        i {
          .border-top-right-radius(5px);
          height: 20px;
          width: 20px;
          text-align: center;
          padding-top: 2px;
        }

        &:hover {
          color: @pumpkin;
          i { background-color: #fff; }
        }
      }
      font-size: 16px;
    }
  }

}

.thumbnails {
  .makeThumbailColors(@i: length(@colors)) when (@i > 0){
    @color: escape(extract(@colors, @i));
    &.@{color}{
      background-color: @@color;

      & when(lightness(@@color) > 80) {
        color: #444;
      }
      & when(lightness(@@color) <= 20) {
        color: #fff;
      }
//
//      .header {
//        background-color: lighten(@@color, 4);
//      }
    }
    .makeThumbailColors(@i - 1);
  }

  .makeThumbailColors();
}