template(name="productPopover")
  #productPopover.popover.fade(style='width: 300px')
    .arrow
    h3.popover-title THÊM MỚI SẢN PHẨM
    .popover-content.modalable
      .wrapper.bottom
        if error
          |#{error}
        input.form-control.productCode(type='text' placeholder='Mã Code')
        input.form-control.name(type='text' placeholder='Tên Sản Phẩm')
        input.form-control.skull(type='text' placeholder='Loại Sản Phẩm')

        div(align="right"): a.btn.btn-danger.createProduct Tạo mới
      ul.grid
        each productList
          li
            | #{name}, #{skulls}
            a.btn.btn-danger.pull-right.removeProduct xóa
