template(name="chatAvatarItem")
  li.chat-avatar(class="{{myAvatar}}")
    .online-status-orb(class="{{onlineStatus}}")
    i.glyphicon.glyphicon-comment.has-message-status(class="{{hasUnreadMessage}}")
    .alias {{shortAlias}}
    +avatarImageComponent(avatar=avatarUrl alias=fullName)