template(name="messenger")
  #messenger(class="{{visibilityClass}}")
    .header
      span.right {{targetAlias}}
      a.close-btn(href="#"): i.fa.fa-times
    ul.messages
      each currentMessages
        li(class="{{messageClass}}"): span {{message}}
    input(type="text")