template(name="sidebar")
  ul.messenger-list
    each friends
      li.chat-avatar
        .online-status-orb(class="{{isOnline}}")
        a(href="#" class="{{myAvatar}}")
          if avatar
            img(src="images/avatars/{{avatar}}.jpg")
          else
            span {{avatarLetter}}
  +messenger