template(name="messageNotification")
  ul.dropdown-menu(role="menu" aria-labelledby="systemNotificationDropdown")
    li(role="presentation"): a(role="menuitem" tabindex="-1" href="#") Action
    li(role="presentation"): a(role="menuitem" tabindex="-1" href="#") Another action
    li(role="presentation"): a(role="menuitem" tabindex="-1" href="#") Something else here
    li.divider(role="presentation")
    li(role="presentation"): a(role="menuitem" tabindex="-1" href="#") Separated link