template(name="navigation")
  nav(role="navigation").navbar.main.navbar-fixed-top
    .wrapper
      .branding
        span.logo GERA
        //form.navbar-form.navbar-left
        //  input.form-control(type="text" maxlength="30" placeholder="tìm kiếm nhanh")

      ul.nav.navbar-nav.navbar-right.notifications
        li.inav#unreadMessageHandler
          .notification-counts(class="{{messageClass}}") {{unreadMessageCount}}
          span: i.fa.fa-comments
        li.inav
          .notification-counts 3
          span: i.fa.fa-gear
        li.inav#systemNotificationHandler
          .notification-counts 20
          span: i.fa.fa-bomb
        li.inav
          .notification-counts 20
          span: i.fa.fa-gift

      ul.nav.navbar-nav
        li.inav.collapse-toggle: span: i.collapse.fa.fa-th-list
        li.home(class="{{isActiveRoute 'metroHome'}}"): a(href="{{pathFor 'metroHome'}}"): i.fa.fa-home
        li(class="{{isActiveRoute 'sales'}}"): a(href="{{pathFor 'sales'}}") Sales
        li(class="{{isActiveRoute 'warehouse'}}"): a(href="{{pathFor 'warehouse'}}") Warehouse
        li(class="{{isActiveRoute 'import'}}"): a(href="{{pathFor 'import'}}") Import
        li(class="{{isActiveRoute 'delivery'}}"): a(href="{{pathFor 'delivery'}}") Delivery
        li(class="{{isActiveRoute 'returns'}}"): a(href="{{pathFor 'returns'}}") Returns
        li: a(href="/sign-out") ĐĂNG XUẤT
        //form(role="search").navbar-form.navbar-left
        //  .form-group
        //    input(type="text", placeholder="Search").form-control
        //  button(type="submit").btn.btn-default Submit
      //ul.nav.navbar-nav.navbar-right
      //  li: a(href="/sign-out") ĐĂNG XUẤT
        //li.dropdown
        //  a(href="#", data-toggle="dropdown").dropdown-toggle Dropdown <b class="caret"></b>
        //  ul.dropdown-menu
        //    li: a(href="#") Action
        //    li: a(href="#") Another action
        //    li: a(href="#") Something else here
        //    li: a(href="#") Separated link

  +unreadMessagePopover