template(name="navigation")
  nav(role="navigation").navbar.main.navbar-fixed-top
    .wrapper
      .branding
        span.logo EDS
        span.version {{currentSystemVersion}}
        //form.navbar-form.navbar-left
        //  input.form-control(type="text" maxlength="30" placeholder="tìm kiếm nhanh")

      ul.nav.navbar-nav.navbar-right.notifications
        li.inav
          +eventNotification
          .notification-counts(class="{{eventClass}}") {{unreadEventCount}}
          span.dropdown-toggle(data-toggle="dropdown"): i.fa.fa-magic
        li.inav
          +requestNotification
          .notification-counts(class="{{requestClass}}") {{unreadRequestCount}}
          span.dropdown-toggle(data-toggle="dropdown"): i.fa.fa-share-alt
        li.inav#unreadMessageHandler
          .notification-counts(class="{{messageClass}}") {{unreadMessageCount}}
          span: i.fa.fa-comments
        li.inav#systemNotificationHandler
          +notifyNotification
          .notification-counts(class="{{notifyClass}}") {{unreadNotifyCount}}
          span.dropdown-toggle(data-toggle="dropdown"): i.fa.fa-globe
        li.inav
          a(href="/sign-out"): i.fa.fa-power-off

      ul.nav.navbar-nav
        li.inav.collapse-toggle: span: i.collapse.fa.fa-th-list
        li.home(class="{{isActiveRoute 'metroHome'}}"): a(href="{{pathFor 'metroHome'}}"): i.fa.fa-home
        li.inav(class="{{isActiveRoute 'taskManager'}}")
          a(href="{{pathFor 'taskManager'}}"): i.fa.fa-clipboard
        li.inav(class="{{isActiveRoute 'warehouse'}}")
          a(href="{{pathFor 'warehouse'}}"): i.fa.fa-cubes
        each routeHistory
          li.inav(class="{{isActiveRoute route}}")
            a(href="{{pathFor route}}"): i.fa(class="{{icon}}")

  +unreadMessagePopover