template(name="taskManager")
  #header
    .caption-row
      .title Task Eds Beta 0.7.1
      .filter.btn-group.btn-group-sm(data-toggle="buttons")
        label.btn.btn-default(class="{{activeStatus 'wait'}}" data-toggle="tooltip" title="chờ xử lý" data-status="wait")
          input(type="radio" name="options")
            i.fa.fa-tasks
        label.btn.btn-default(class="{{activeStatus 'selected frozen rejected remaking working'}}"
        data-toggle="tooltip" title="đang xử lý" data-status="selected frozen rejected remaking working")
          input(type="radio" name="options")
            i.fa.fa-play
        label.btn.btn-default(class="{{activeStatus 'confirming'}}" data-toggle="tooltip" title="chờ xác nhận" data-status="confirming")
          input(type="radio" name="options")
            i.fa.fa-question-circle
        label.btn.btn-default(class="{{activeStatus 'done'}}" data-toggle="tooltip" title="thành công" data-status="done")
          input(type="radio" name="options")
            i.fa.fa-trophy
        label.btn.btn-default(class="{{activeStatus 'all'}}" data-toggle="tooltip" title="tất cả" data-status="all")
          input(type="radio" name="options")
            i.fa.fa-archive
        label.btn.btn-default(class="{{activeStatus 'deleted'}}" data-toggle="tooltip" title="đã xóa" data-status="deleted")
          input(type="radio" name="options")
            i.fa.fa-trash

      .filter.btn-group.btn-group-sm(data-toggle="buttons")
        label.btn.btn-default(class="{{activeUser '1'}}" data-toggle="tooltip" title="của tôi" data-user="1")
          input( type="radio" name="options" id="option1")
            i.fa.fa-user
        label.btn.btn-default(class="{{activeUser '2'}}" data-toggle="tooltip" title="tất cả" data-user="2")
          input(type="radio" name="options" id="option2" checked)
            i.fa.fa-users

    .editor-row
      .editor-wrapper(style="width:80px")
        span.ilabel độ ưu tiên
        +iSelect(options=priorityTaskSelectOption class="field")
      .editor-wrapper(style="width:180px")
        span.ilabel người nhận làm
        +iSelect(options=ownerTaskSelectOption class="field")
      .editor-wrapper(style="width:110px")
        span.ilabel chức năng
        input.group(name="group" maxlength="15" value="{{group}}")
      .editor-wrapper(style="width:300px")
        span.ilabel nội dung
        input.description(name="description" maxlength="100" value="{{description}}")
      .editor-wrapper(style="width:75px")
        span.ilabel thời gian
        input(style="text-align: center" name="duration")

      .editor-wrapper(style="width:70px; {{hideCreate}}")
        button.btn#createTask(class="{{allowCreate}}") THÊM
      .editor-wrapper(style="width:70px; {{hideUpdate}}")
        button.btn.btn-success#updateTask XONG
      .editor-wrapper(style="width:70px; {{hideUpdate}}")
        button.btn.btn-danger#resetTask HỦY

  #content
    +iGrid(options=taskDetailOptions)
