template(name="taskDetailThumbnail")
  .col.taskDetail
    .thumbnails(class="#{colorClass}")
      .right-caption.editPriority 
        |{{group}}
        a(href="#")
          i.fa.fa-pencil-square-o(style="{{hideEdit}}")
          //i.fa.fa-tasks(style="{{hideWait}}")
          i.fa.fa-thumb-tack(style="{{hideSelect}}")
          i.fa.fa-pause(style="{{hideFrozen}}")
          i.fa.fa-exclamation-triangle(style="{{hideRejected}}")
          i.fa.fa-play(style="{{hideWorking}}")
          i.fa.fa-question-circle(style="{{hideConfirming}}")
          i.fa.fa-trophy(style="{{hideDone}}")
          i.fa.fa-retweet(style="{{hideRemaking}}")
          i.fa.fa-trash(style="{{hideDeleted}}")
      .task-priority {{priorityAlias}}
      .task-buget {{formatedBuget}}
      .task-description {{description}}
      .task-creator {{creatorAlias}}
      .task-cooldown
        +iCooldown(options=cooldownOptions)
      .avatar(style="background-image: url('images/avatars/avatar2.jpg')")
      .full-desc.trash
        a(href="#")
      .media-navigation.task-media
        .media-left
        .media-center: i.fa.fa-play
        .media-right
