template(name="inventoryProductThumbnail")
  .col
    .thumbnails(class="#{colorClass}")
      .left-caption {{expireDate productDetail.expire}}
      .right-caption {{productDetail.name}}
      .avatar(style="background-image: url('images/missing.jpg')")
      .short-desc.quality
        .col.col-auto.pull-right(style="width:120px")
          +iSpinEdit(options=realQualityOptions)
      .full-desc.price {{status}} -- Tồn Kho: {{originalQuality}}
      .single-price Đã Bán: {{saleQuality}} / Mất {{lostQuality}}
      .full-desc.trash: a(href="#")
        i.fa.fa-reply(style="{{hideReply}}")
        i.fa.fa-lock(style="{{hideLock}}")
        i.fa.fa-check(style="{{hideCheck}}")

