template(name="inventory")
  .app-header
    span.caption Kiểm Kho
  .app-editor
    .row
      .col.col-auto(style="width: 200px")
        span.ilabel chi nhánh
        +iSelect(options=merchantSelectOptions class="field")
      .col.col-auto(style="width: 200px")
        span.ilabel kho
        +iSelect(options=warehouseSelectOptions class="field")
      .col.col-auto(style="width: 200px;")
        span.ilabel lý do kiểm kho
        input(name="description" maxlength="200" value="{{inventory.description}}")
      .col.col-auto.pull-right(style="width:100px")
        button.btn.btn-default.pull-right.submitInventory(type='submit' style="{{showSubmit}}") Xác Nhận
      .col.col-auto.pull-right(style="width:100px")
        button.btn.btn-default.pull-right.destroyInventory(type='submit' style="{{showDestroy}}") Hủy
      .col.col-auto.pull-right(style="width:100px")
        button.btn.btn-default.pull-right.creatInventory(type='submit' style="{{showCreate}}") Tạo




  .app-content
    +iGrid(options=productDetailOptions)
  .app-summary

  .app-status

