template(name="inventory")
  #header
    .caption-row: .title Kiểm Kho
    .editor-row
      .editor-wrapper(style="width: 200px")
        span.ilabel chi nhánh
        +iSelect(options=merchantSelectOptions class="field")
      .editor-wrapper(style="width: 200px")
        span.ilabel kho
        +iSelect(options=warehouseSelectOptions class="field")
      .editor-wrapper(style="width: 200px; {{showDescription}}")
        span.ilabel lý do kiểm kho
        input(name="description" maxlength="200" value="{{inventory.description}}")
      .editor-wrapper(style="width:100px; {{showCreate}}")
        button.btn.btn-default.creatInventory(class="{{allowCreate}}") Tạo
      .editor-wrapper(style="width:100px; {{showDestroy}}")
        button.btn.btn-default.destroyInventory() Hủy
      .editor-wrapper(style="width:100px; {{showSubmit}}")
        button.btn.btn-default.submitInventory() Xác Nhận

  #content
    +iGrid(options=productDetailOptions)