template(name="accountingManagerThumbnail")
  .col
    .thumbnails
      .right-caption {{buyerName}} <br /> {{sellerName}}
      .full-desc.price
        button.btn.btn-default.confirmReceive(style="{{showInput}}") {{showInputText}}