template(name="customerManager")
  #header
    .caption-row: .title KHÁCH HÀNG <small>CRM</small>
    .editor-row
      .editor-wrapper
        span.ilabel tên khách hàng
        input(name="fullName" maxlength="40")
      .editor-wrapper(style="width: 120px")
        span.ilabel điện thoại
        input(name="phone" maxlength="15")
      .editor-wrapper(style="width: 300px")
        span.ilabel.optional địa chỉ
        input(name="address")
      .editor-wrapper(style="width: 120px")
        span.ilabel.optional sinh nhật
        input(binding="datePicker" todayHighlight="true" name="dateOfBirth")
      .switches
        input(binding="switch" type="checkbox" name="genderMode" checked="true")
      .editor-wrapper
        button.btn#createCustomerAccount(class="{{allowCreate}}") TẠO MỚI

  #content
    +iGrid(options=customerDetailOptions)