template(name="customerThumbnail")
  .col
    .thumbnails
      .right-caption {{name}}
      .full-desc.price {{phone}}
      .avatar(style="background-image: url('images/missing.jpg')")
      if isntDelete
        .full-desc.trash: a(href="#"): i.fa.fa-trash-o