template(name="customerThumbnail")
  .col
    .thumbnails
      .left-caption {{dateOfBirth}}
      .right-caption {{name}}
      .full-desc.price {{phone}}
      .avatar(style="background-image: url('images/missing.jpg')")
      .single-price {{address}}
      .short-desc.quality {{gender}}
      .full-desc.trash
        a(href="#")
          if isntDelete
            i.fa.fa-trash-o