template(name="customerManager")
  .app-header
    span.caption KHÁCH HÀNG <small>CRM</small>
  .app-editor
    .row
      .col.col-auto
        span.ilabel tên khách hàng
        input(name="fullName" maxlength="40")
      .col.col-auto(style="width: 120px")
        span.ilabel.optional điện thoại
        input(name="phone" maxlength="15")
      .col.col-auto(style="width: 300px")
        span.ilabel.optional địa chỉ
        input(name="address")
      .col.col-auto(style="width: 120px")
        span.ilabel.optional sinh nhật
        input(binding="datePicker" todayHighlight="true" name="dateOfBirth")
      .col.col-auto
        button.btn#createCustomerAccount(class="{{allowCreate}}") TẠO MỚI

  .app-content
    +iGrid(options=customerDetailOptions)